
.App {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.Events {
  color: #00556e;
  box-shadow: 1px, gray;

}

h1 {
  text-align: center;
  color: #00556e;
  margin-bottom: 50px !important;
}

form {
  margin-top: 50px;
}

.deleteButton {
  background-color: red;
  color: white;
}

.addButton {
  background-color: #00556e;
  color: white;
}

body {
  background-color: bisque !important;
}
